<div class="section no-padding wf-section">
    <div class="grid-wrapper">
      <div id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476ad-9974768b" class="footer-wrapper">
        <div class="footer-content">
          <div id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476af-9974768b" class="footer-brand">
            <div class="footer-brand-wrapper">
              <h2>Hablemos</h2>
              <div class="body-display">Escríbenos a nuestro mail o programa una llamada y hablemos de tu proyecto.</div>
            </div>
            <a id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476b5-9974768b" href="/contact" class="underline-link dark w-inline-block">
              <div>formulario de contacto</div>
              <div class="hover-line">
                <div class="hover-line-fill"></div>
              </div>
            </a>
          </div>
          <div id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476b8-9974768b" class="verticle-line"></div>
          <div class="footer-box">
            <div id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476ba-9974768b" class="footer-box-top">
              <div class="footer-box-title">
                <h3>Email</h3>
                <div class="body-display small">Gerardo Peregrín, Director</div>
              </div>
              <a id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476c0-9974768b" href="mailto:hola@okuma.es" class="outline-button w-inline-block">
                <div class="button-text">Escríbenos</div>
              </a>
            </div>
            <div class="footer-box-bottom">
              <div class="subtitle">hola@okuma.es</div>
            </div>
          </div>
          <div class="footer-box">
            <div id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476c7-9974768b" class="footer-box-top">
              <div class="footer-box-title">
                <h3>Teléfono</h3>
                <div class="body-display small">Gerardo Peregrín, Director</div>
              </div>
              <a id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476cd-9974768b" href="http://go.okuma.es/reunion" class="outline-button w-inline-block">
                <div class="button-text">llámanos</div>
              </a>
            </div>
            <div class="footer-box-bottom">
              <div class="subtitle">go.okuma.es/reunion</div>
            </div>
          </div>
        </div>
        <div class="footer-credits">
          <div id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476d4-9974768b" class="subtitle small">©2022 okuma</div>
          <div id="w-node-b55ca109-fdf5-a0f7-83ca-7b0c997476d6-9974768b" class="legal-link-wrapper">
            <a href="#" class="legal-link w-inline-block">
              <div>Legal</div>
            </a>
            <a href="#" class="legal-link w-inline-block">
              <div>Política de privacidad</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>