<div class="section no-padding wf-section">
    <div class="grid-wrapper">
      <div class="top-grey-cover"></div>
      <div id="w-node-_8f7109d9-6da2-9c8e-0989-9b1bfaecb8fe-faecb8fb" class="instagram-footer">
        <div class="instagram-feed">
          <div id="w-node-_8f7109d9-6da2-9c8e-0989-9b1bfaecb900-faecb8fb" class="subtitle">@okumastudio</div>
          <div id="w-node-_8f7109d9-6da2-9c8e-0989-9b1bfaecb902-faecb8fb" class="instagram-intro">
            <div class="instagram-title">
              <h3>Encuentranos<br>en Instagram.</h3>
            </div>
            <a id="w-node-_8f7109d9-6da2-9c8e-0989-9b1bfaecb908-faecb8fb" href="https://www.instagram.com/okumastudio/" target="_blank" class="underline-link dark w-inline-block">
              <div>Siguenos</div>
              <div class="hover-line">
                <div class="hover-line-fill"></div>
              </div>
            </a>
          </div>
          <div class="instagram-grid">
            <a href="https://www.instagram.com/okumastudio/" target="_blank" class="instagram w-inline-block">
              <div class="skew-background">
                <div class="background instagram-one">
                  <div class="overlay"></div>
                </div>
              </div>
              <div class="hover-circle-wrapper">
                <div class="hover-circle">
                  <div class="outline-hover-circle"><img src="/assets/images/main-instagram.svg" loading="lazy" alt="" class="slider-arrow-icon"></div>
                </div>
              </div>
            </a>
            <a href="https://www.instagram.com/okumastudio/" target="_blank" class="instagram w-inline-block">
              <div class="skew-background">
                <div class="background instagram-two">
                  <div class="overlay"></div>
                </div>
              </div>
              <div class="hover-circle-wrapper">
                <div class="hover-circle">
                  <div class="outline-hover-circle"><img src="/assets/images/main-instagram.svg" loading="lazy" alt="" class="slider-arrow-icon"></div>
                </div>
              </div>
            </a>
            <a href="https://www.instagram.com/okumastudio/" target="_blank" class="instagram w-inline-block">
              <div class="skew-background">
                <div class="background instagram-three">
                  <div class="overlay"></div>
                </div>
              </div>
              <div class="hover-circle-wrapper">
                <div class="hover-circle">
                  <div class="outline-hover-circle"><img src="/assets/images/main-instagram.svg" loading="lazy" alt="" class="slider-arrow-icon"></div>
                </div>
              </div>
            </a>
            <a href="https://www.instagram.com/okumastudio/" target="_blank" class="instagram w-inline-block">
              <div class="skew-background">
                <div class="background instagram-four">
                  <div class="overlay"></div>
                </div>
              </div>
              <div class="hover-circle-wrapper">
                <div class="hover-circle">
                  <div class="outline-hover-circle"><img src="/assets/images/main-instagram.svg" loading="lazy" alt="" class="slider-arrow-icon"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>