<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="navigation-wrapper">
      <div id="w-node-_88df97de-bae8-9125-6a6a-06eac51105ce-c51105cc" class="navigation-content">
        <a href="/" aria-current="page" class="brand w-nav-brand w--current">
          <div>Okuma</div>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="menu-items">
            <a href="/proyectos" class="nav-link w-nav-link">proyectos</a>
            <a href="/noticias" class="nav-link w-nav-link">noticias</a>
            <a href="/equipo" class="nav-link w-nav-link">Equipo</a>
          </div>
        </nav>
        <div class="nav-right">
          <a href="http://go.okuma.es/linkedin" class="outline-social-icon large w-inline-block"><img src="/assets/images/dark-linkedin-2.svg" loading="lazy" alt="" class="social-nav-icon"></a>
          <a data-w-id="88df97de-bae8-9125-6a6a-06eac51105dd" href="/contact" class="nav-button w-inline-block">
            <div class="button-text">hablemos</div>
          </a>
          <div class="menu-button w-nav-button">
            <div class="menu-icon-wrapper"><img src="/assets/images/menu-dark24x242x.svg" loading="lazy" alt="" class="menu-icon"></div>
          </div>
        </div>
      </div>
      <div id="w-node-_88df97de-bae8-9125-6a6a-06eac51105e0-c51105cc" class="nav-cover"></div>
    </div>
  </div>