<div class="preloader">
    <div class="preloader-content">
      <h1 id="w-node-_162ae832-2422-6f93-facd-86390463cdcc-0463cdca" class="preloader-brand">Okuma</h1>
      <div class="preloader-indicator">
        <div class="indicator-wrapper">
          <div class="indicator-fill"></div>
        </div>
      </div>
    </div>
  </div>